@import 'mixins';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $ff-text;
  background: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button, input, textarea {
  font-family: inherit;
}